.sidebar{
    display: flex;
    height: calc(100vh - 50px);
    width: 65px;
    transition: 0.4s;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: wheat;
    height: 7%;
    width: 100%;
}
