
.searchInput {
    height: 34px !important;
    border-radius: 8px!important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.searchIcon {
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #0d6efd;
}
